@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');




body {
  background: #121212;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;

  /*im a lazy fuck who couldnt come up with a way to get a proper blur across this whole image so im just gonna pre blur the image, if anyone out there is much better at 
  html and css than me, please make this better <3*/
  background: url('../media/images/interestingman2x_blur.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;

  overflow: hidden;
}

.titlebar {
    background: #F36F6F;
    color: #ffff; 
    height: 60%;
    padding: 0.4em;
    .title {
        text-align:center;
        font-size: 12px;
    }
}

.counterSection{
    color: #dddddd;
    overflow: hidden;
    position:relative;
    text-align:center;

    .counters {
        color:#ffff;
        .mainCounter{
            font-size: 11vw;
            margin-top: 0.3vw;
            margin-bottom:5px;
            animation: fadeIn linear 1s;
            -webkit-animation: fadeIn linear 1s;
            -moz-animation: fadeIn linear 1s;
            -o-animation: fadeIn linear 1s;
            -ms-animation: fadeIn linear 1s;
        }
        .smallCounter {
            margin: 0;
        }
    }
}

.latestOccurence{
    margin:auto;
    margin-top: 100px;
    width: fit-content;
    height: fit-content;
    .messageDiv{
        border-radius:50px;
        padding-left:10%;
        padding-right:10%;
        background-color: #252525;
        .userName{
            color:#F36F6F;
        }
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  /* setting none makes it display and setting block makes it not display, dunno why*/
  .github-corner {display: none;}

@media only screen and (min-width: 600px) {
    .github-corner {display:block;}
    /*or anything you want to do*/ 
}